# Vagrant
.vagrant
package.box

# Data / Config
/files/www/*
/puppet/modules/params/manifests/init.pp

# Sublime Text
*.sublime-project
*.sublime-workspace

# OS or Editor folders
.DS_Store
Thumbs.db
